@page "/PieChart"
@using ChartJs.Blazor.ChartJS
@using ChartJs.Blazor.Shared

<h2>Chart JS charts using Blazor</h2>
<div class="row">
    <button class="btn btn-primary" onclick="@UpdateChart">Update Chart </button>
</div>
<ChartJsPieChart ref="pieChartJs" Chart="@blazorPieChartJS" Width="600" Height="300"/>

@functions{

    public ChartJSChart blazorPieChartJS { get; set; }
    ChartJsPieChart pieChartJs;

    protected override void OnInit()
    {
        blazorPieChartJS = blazorPieChartJS ?? new ChartJSChart
        {
            ChartType = ChartTypes.PIE.ToString(),
            CanvasId = "myFirstPieChart",
            Options = new ChartJsOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true
            },
            Data = new ChartJsData
            {
                Labels = new List<string> {"A", "B", "C", "D"},
                Datasets = new List<ChartJsDataset>()
                {
                    new ChartJsPieDataset
                    {
                        BackgroundColor = new[] {"#ff6384", "#55ee84", "#4463ff", "#efefef"},
                        Label = "Light Red",
                        Data = new List<dynamic>
                        {
                            1, 2, 3, 4
                        },
                        BorderWidth = 0,
                        HoverBackgroundColor = new[] {"#f06384"},
                        HoverBorderColor = new[] {"#f06384"},
                        HoverBorderWidth = new[] {1}, BorderColor = "#ffffff"
                    }
                }
            }
        };
    }

    protected override void OnAfterRender()
    {
        Console.WriteLine("OnAfterRender");
        pieChartJs.UpdateChart(blazorPieChartJS);
    }

    public void UpdateChart()
    {
        var rand = new Random();
        blazorPieChartJS.Data = new ChartJsData
        {
            Labels = new List<string> {"A", "B", "C", "D"},
            Datasets = new List<ChartJsDataset>()
            {
                new ChartJsPieDataset
                {
                    BackgroundColor = new[] {"#ff6384", "#55ee84", "#4463ff", "#efefef"},
                    Label = "Light Red",
                    Data = new List<dynamic>
                    {
                        rand.Next(10), rand.Next(10), rand.Next(10), rand.Next(10)
                    },
                    BorderWidth = 0,
                    HoverBackgroundColor = new[] {"#f06384"},
                    HoverBorderColor = new[] {"#f06384"},
                    HoverBorderWidth = new[] {1}, BorderColor = "#ffffff"
                }
            }
        };

        pieChartJs.UpdateChart(blazorPieChartJS);
    }

}