@page "/RadarChart"
@using ChartJs.Blazor.ChartJS
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.RadarChart
@using ChartJs.Blazor.Components

<h2>Chart JS charts using Blazor</h2>
<div class="row">
    <button class="btn btn-primary" onclick="@UpdateChart">Update Chart </button>
</div>
<ChartJsRadarChart ref="radarChartJs" Config="@radarChartConfig" Width="600" Height="300"/>

@functions {

    public RadarChartConfig radarChartConfig { get; set; }
    ChartJsRadarChart radarChartJs;

    protected override void OnInit()
    {
        radarChartConfig = radarChartConfig ?? new RadarChartConfig
        {
            CanvasId = "myFirstRadarChart",
            Options = new RadarChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Title = new OptionsTitle {Display = "radar chart title display", Text = "some text"},
                Legend = new RadarChartLegend {Position = Position.top},
                Scale = new Scale {Ticks = new Ticks {BeginAtZero = true}}
            },
            Data = new RadarChartData()
            {
                Labels = new List<string> {"Eating", "Drinking", "Social", "Coding", "Cycling", "Running"},
                Datasets = new List<RadarChartDataset>
                {
                    new RadarChartDataset
                    {
                        BackgroundColor = "#ff6384",
                        Label = "1st Dataset",
                        Data = new List<int> {19, 12, 5, 3, 3, 2},
                        BorderWidth = 2,
                        RadarChartPointStyle = RadarChartPointStyles.star,
                        PointBackgroundColor = "#a4cef0",
                        PointRadius = 5,
                        PointBorderWidth = 1
                    }
                }
            }
        };
    }

    protected override void OnAfterRender()
    {
        Console.WriteLine("OnAfterRender");
        radarChartJs.UpdateChart(radarChartConfig);
    }

    public void UpdateChart()
    {
        //Add new dataset
        var rand = new Random();
        var max = radarChartConfig.Data.Datasets.First().Data.Max();
        //var color = $"#{rand.Next(0x1000000):X6}";
        var color = $"#{rand.Next(16777215):X6}";
        radarChartConfig.Data.Datasets.Add(new RadarChartDataset
        {
            BackgroundColor = color,
            BorderColor = color,
            Label = "2nd Dataset",
            Data = new List<int> {rand.Next(max), rand.Next(max), rand.Next(max), rand.Next(max), rand.Next(max), rand.Next(max)},
            BorderWidth = 2,
            PointRadius = 3,
            PointBorderWidth = 1
        });

        radarChartJs.UpdateChart(radarChartConfig);
    }

}