@page "/"
@namespace ChartJs.Blazor.Samples.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/app.css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico">
    <base href="/" />
    <title>ChartJs.Blazor Samples</title>
</head>

<body>
    <app>
        @(await Html.RenderComponentAsync<Client.App>(RenderMode.ServerPrerendered))
    </app>

    <script id="blazorMode"></script>
    <script>
        document.getElementById("blazorMode").src = window.location.search.includes("mode=server") ? "_framework/blazor.server.js" : "_framework/blazor.webassembly.js";
    </script>
</body>

</html>
