@page "/SimpleBarChart"
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Dataset
@using Newtonsoft.Json


<h2>Simple Bar Chart</h2>
<div class="row">
    <button class="btn btn-primary" onclick="@UpdateChart">Update Chart</button>
</div>
<ChartJsBarChart ref="barChart"
                 Config="@barChartConfig"
                 Width="600"
                 Height="300" />

<DataDisplay OnUpdatedDataStr="@OnDataStrChange" bind-DataStr="@DataStr" Width="600" Height="300" />

@functions {

    private BarChartConfig barChartConfig { get; set; }
    private ChartJsBarChart barChart { get; set; }

    string DataStr
    {
        get => JsonConvert.SerializeObject(barChartConfig.Data, Formatting.Indented);
        set
        {
            barChartConfig.Data = JsonConvert.DeserializeObject<BarChartData>(value);
            Console.WriteLine(JsonConvert.SerializeObject(barChartConfig.Data.Datasets));
        }
    }

    void OnDataStrChange(string dataStr)
    {
        barChartConfig.Data = JsonConvert.DeserializeObject<BarChartData>(dataStr);
        barChart.Update();
    }

    protected override void OnInit()
    {
        barChartConfig = barChartConfig ?? new BarChartConfig
        {
            CanvasId = "myBarChartCanvas",
            Options = new BarChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true
            },
            Data = new BarChartData
            {
                Labels = new List<string> { "Red", "Blue", "Yellow", "Green", "Purple", "Orange" },
                Datasets = new List<BaseBarChartDataset>
            {
                    new BarChartDataset
                    {
                        Label = "1'st dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {19, 12, 5, 3, 3, 2}
                    },
                    new BarChartDataset
                    {
                        Label = "2'nd dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {30, 10, 15, 13, 13, 12}
                    }
                }
            }
        };
    }

    private void UpdateChart()
    {
        //Update existing dataset
        barChartConfig.Data.Labels.Add($"{DateTime.Now.Second}");
        barChartConfig.Data.Datasets.ForEach(dataset => { dataset.Data.Add(DateTime.Now.Second); });
    }

}