@page "/BubbleChart"
@using BlazorComponents.Shared

<h2>Chart JS charts using Blazor</h2>
<div class="row">
    <button class="btn btn-primary" onclick="@UpdateChart">Update Chart </button>
</div>
<ChartJsBubbleChart ref="bubbleChartJs" Chart="@blazorBubbleChartJS" Width="600" Height="300" />

@functions{

    public ChartJSChart blazorBubbleChartJS { get; set; } = new ChartJSChart();
    ChartJsBubbleChart bubbleChartJs;

    protected override void OnInit()
    {
        blazorBubbleChartJS = new ChartJSChart
        {
            ChartType = ChartTypes.BUBBLE.ToString(),
            CanvasId = "myFirstBubbleChart",
            Options = new ChartJsOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true
            },
            Data = new ChartJsData
            {
                Labels = new List<string> { "Red" },
                Datasets = new List<ChartJsDataset>()
                {
                new ChartJsBubbleDataset
                {
                    BackgroundColor = "#ff6384",
                    Label = "Light Red",
                    Data = new List<dynamic>
                    {
                        new BubbleData {x = 1, y = 1, r = 5},
                        new BubbleData {x = 2, y = 1.9, r = 5},
                        new BubbleData {x = 3, y = 3, r = 6}
                    },
                    BorderWidth = 0, HitRadius = 3, Radius = 3, HoverRadius = 5,
                    HoverBackgroundColor = "#f06384", HoverBorderColor = "#f06384", HoverBorderWidth = 1, BorderColor = "#ccddee"
                },
                new ChartJsBubbleDataset
                {
                    BackgroundColor = "#6363ff",
                    Label = "Light Blue",
                    Data = new List<dynamic>
                    {
                        new BubbleData {x = 1, y = 3, r = 9},
                        new BubbleData {x = 2, y = 2.1, r = 7},
                        new BubbleData {x = 3, y = 1, r = 3}
                    },
                    BorderWidth = 0, HitRadius = 3, Radius = 3, HoverRadius = 5,
                    HoverBackgroundColor = "#f06384", HoverBorderColor = "#f06384", HoverBorderWidth = 1, BorderColor = "#aabbcc"
                }
            }
            }
        };
    }

    public void UpdateChart()
    {
        var rand = new Random();

        blazorBubbleChartJS.Data.Datasets.Add(new ChartJsBubbleDataset
        {
            BackgroundColor = "#6363ff",
            Label = "Light Blue",
            Data = new List<dynamic>
        {
            new BubbleData {x = rand.NextDouble()*5, y = rand.NextDouble()*5, r = rand.NextDouble()*8},
            new BubbleData {x = rand.NextDouble()*5, y = rand.NextDouble()*5, r = rand.NextDouble()*8},
            new BubbleData {x = rand.NextDouble()*5, y = rand.NextDouble()*5, r = rand.NextDouble()*8}
        },
            BorderWidth = 0,
            HitRadius = 3,
            Radius = 3,
            HoverRadius = 5,
            HoverBackgroundColor = "#f06384",
            HoverBorderColor = "#f06384",
            HoverBorderWidth = 1,
            BorderColor = "#aabbcc"
        });

        bubbleChartJs.UpdateChart(blazorBubbleChartJS);
    }

}