@page "/"

<div class="content">
    <div class="header">
        <div class="chartjs-title">Samples</div>
        <div class="chartjs-caption">Brings <a target="_blank" href="https://www.chartjs.org/">Chart.js</a> to Blazor</div>
        <div class="chartjs-links">
            <a class="btn btn-gh" href="https://github.com/mariusmuntean/ChartJs.Blazor">GitHub</a>
        </div>
    </div>

    <div @ref="_categoriesRef" id="categories" class="samples-categories"></div>
</div>

@code {
    private ElementReference _categoriesRef;
}
