<style>
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
</style>

<div class="container-fluid bg-1 text-center">
    <h3>Who Am I?</h3>
    <img src="https://0.gravatar.com/avatar/32203bd5293bf7fc974bf777bc7ad27d?s=400&d=mm" class="img-thumbnail" alt="ö">
    <h3>Marius Muntean</h3>
</div>

<div class="container-fluid bg-2 text-center">
    <h3>What Am I?</h3>
    <p>.Net Software Engineer</p>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3>
    <p>
        GitHub: <a href="https://github.com/mariusmuntean" target="_blank">https://github.com/mariusmuntean</a>
    </p>
    <p>
        Twitter: <a href="https://twitter.com/MunteanMarius" target="_blank">@@MunteanMarius</a>
    </p>
</div>

@functions{
}