@using ChartJs.Blazor.ChartJS.BubbleChart
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.Util

<h1>Bubble Chart</h1>
<div class="row">
    <button class="btn btn-primary" @onclick="OnClick">Add Dataset</button>
</div>

<Chart @ref="_bubbleChartJs"
        Config="@_config"
        TConfig="BubbleConfig"
        Width="600"
        Height="300"/>

@code {
    private BubbleConfig _config;
    private Chart<BubbleConfig> _bubbleChartJs;

    private Random _rand = new Random();

    protected override void OnInitialized()
    {
        _config = new BubbleConfig
        {
            Options = new BubbleOptions
            {
                Title = new ChartJS.Common.Properties.OptionsTitle
                {
                    Display = true,
                    Text = new[] {"Simple Bar Chart", "with two lines of title"},
                    FontStyle = ChartJS.Common.Enums.FontStyle.Italic
                }
            }
        };

        for (int i = 1; i <= 3; i++)
        {
            _config.Data.Datasets.Add(new BubbleDataset(GetRandomData())
            {
                Label = $"Dataset {i}",
                BackgroundColor = ColorUtil.RandomColorString()
            });
        }
    }

    private async Task OnClick()
    {
        _config.Data.Datasets.Add(new BubbleDataset(GetRandomData())
        {
            Label = $"Dataset {_config.Data.Datasets.Count + 1}",
            BackgroundColor = ColorUtil.RandomColorString()
        });

        await _bubbleChartJs.Update();
    }

    private IEnumerable<BubblePoint> GetRandomData() => new[]
    {
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10),
        new BubblePoint(_rand.NextDouble(), _rand.NextDouble(), 5 + _rand.NextDouble() * 10)
    };
}
