<style>
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
</style>

<div class="container-fluid bg-1 text-center">
    <h2>
        Welcome to the ChatJs.Blazor Samples.
    </h2>
</div>

<div class="container-fluid bg-1 text-left">

    <p>
        <br />Use the navbar on the left (or the hamburger menu if you're on mobile) to switch between the samples.
        <br />
    </p>
    <h3></h3>
</div>

<div class="container-fluid bg-2 text-center">
    <h3>Where are the goodies?</h3>
</div>
<div class="container-fluid bg-2 text-center">
    <p>
        Nuget Package:
        <a style="color: #00cc00"
           href="https://www.nuget.org/packages/ChartJs.Blazor"
           target="_blank">
            https://www.nuget.org/packages/ChartJs.Blazor
        </a>
    </p>

    <p>
        Source code:
        <a style="color: #00cc00"
           href="https://github.com/mariusmuntean/ChartJs.Blazor"
           target="_blank">
            https://github.com/mariusmuntean/ChartJs.Blazor
        </a>
    </p>
</div>

<div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3>
    <p>
        GitHub:
        <a href="https://github.com/mariusmuntean"
           target="_blank">
            https://github.com/mariusmuntean
        </a>
    </p>
    <p>
        Twitter: <a href="https://twitter.com/MunteanMarius" target="_blank">@@MunteanMarius</a>
    </p>
</div>

@functions{
}