@using Microsoft.AspNetCore.Blazor.Browser.Interop
@using BlazorComponents.ChartJS


<div class="row">
    <button @onclick(CallJS)>Display Chart</button>
</div>
<div class="row">
    <div class="container">
        <canvas id="@Chart.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>

<script>
    var myChart = {};
</script>

<script>
    Blazor.registerFunction('initializeChart', (data) => {
        var ctx = document.getElementById(data.CanvasId);
        console.log("We are starting to layout the chart");
        myChart = new Chart(ctx, {
            type: data.ChartType,
            data: {
                labels: data.Data.Labels,
                datasets: [{
                    label: data.Data.Datasets[0].Label,
                    data: data.Data.Datasets[0].Data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: data.Options.Display,
                    text: data.Options.Text
                },
                responsive: false
            }
        });
        return true;
    });
</script>


@functions {

    public ChartJSChart Chart { get; set; }
    public int Width { get; set; } = 400;
    public int Height { get; set; } = 400;

    protected void CallJS()
    {
        RegisteredFunction.Invoke<bool>("initializeChart", new[] { Chart});
    }
}
