@using BlazorComponents.ChartJS
@using Microsoft.AspNetCore.Blazor.Components

<div class="row">
    <div class="container">
        <canvas id="@Chart.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>

@functions {

    [Parameter]
    ChartJSChart<ChartJSRadarDataset> Chart { get; set; }
    [Parameter]
    int Width { get; set; } = 200;
    [Parameter]
    int Height { get; set; } = 200;

    private string ChartjsChart { get; set; } = "";

    protected override void OnAfterRender()
    {
        ChartJSInterop.InitializeRadarChart(Chart);
    }

    public void UpdateChart(ChartJSChart<ChartJSRadarDataset> updatedChart)
    {
        ChartJSInterop.UpdateRadarChart(updatedChart);
    }
}
