@page "/Legend/DotNetInstanceHandlers"
@using ChartJs.Blazor.ChartJS.BarChart.Dataset
@using ChartJs.Blazor.ChartJS.Common.Legends
@using ChartJs.Blazor.ChartJS.Common.Legends.OnClickHandler
@using ChartJs.Blazor.ChartJS.Common.Legends.OnHover
@using ChartJs.Blazor.Util.Color
@using ChartJs.Blazor.Sample.Shared.Components
@using Microsoft.JSInterop
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

<h2>Simple Bar Chart</h2>
<div class="row">
    <button class="btn btn-primary" onclick="@UpdateChart">Update Chart </button>
</div>
<ChartJsBarChart ref="barChart"
                 Config="@barChartConfig"
                 Width="600"
                 Height="300"/>

<DataSetDisplay ref="_dataSetDisplay" bind-DataSetsStr="@DataSetsStr" Width="600" Height="300"/>

@functions {

    [Inject]
    protected Sotsera.Blazor.Toaster.IToaster Toaster { get; set; }

    private BarChartConfig barChartConfig { get; set; }
    private ChartJsBarChart barChart { get; set; }

    DataSetDisplay _dataSetDisplay;

    string DataSetsStr
    {
        get => JsonConvert.SerializeObject(barChartConfig.Data.Datasets, Formatting.Indented);
        set
        {
            barChartConfig.Data.Datasets = JsonConvert.DeserializeObject<List<BaseBarChartDataset>>(value);
            Console.WriteLine(JsonConvert.SerializeObject(barChartConfig.Data.Datasets));
        }
    }

    protected override void OnInit()
    {
        var rand = new Random();
        barChartConfig = barChartConfig ?? new BarChartConfig
        {
            CanvasId = "myBarChartCanvas",
            Options = new BarChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true,
                Legend = new Legend
                {
                    OnClick = new DotNetInstanceClickHandler(InstanceClickHandler),
                    OnHover = new DotNetInstanceHoverHandler(LegendItemInstanceOnHoverHandler)
                }
            },
            Data = new BarChartData
            {
                Labels = new List<string> {"Red", "Blue", "Yellow", "Green", "Purple", "Orange"},
                Datasets = new List<BaseBarChartDataset>
                {
                    new BarChartDataset
                    {
                        Label = "1'st dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30)}
                    },
                    new BarChartDataset
                    {
                        Label = "2'nd dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30)}
                    },
                    new BarChartDataset
                    {
                        Label = "3'rd dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30)}
                    },
                    new BarChartDataset
                    {
                        Label = "4'th dataset",
                        BackgroundColor = ColorUtil.RandomColorString(),
                        BorderColor = ColorUtil.RandomColorString(),
                        Data = new List<dynamic> {rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30), rand.Next(30)}
                    }
                }
            }
        };
    }

    [JSInvokable]
    public void LegendItemInstanceOnHoverHandler(object sender, object mousemove)
    {
        var argsJObj = JObject.FromObject(mousemove);

        var clickedDatasetIndex = (int) argsJObj["datasetIndex"];
        var hoveredItemDatasetName = barChartConfig.Data.Datasets[clickedDatasetIndex].Label;

        Toaster.Info(
            $"'{hoveredItemDatasetName}'",
            "Mouse over item",
            options =>
            {
                options.VisibleStateDuration = 700;
                options.ShowTransitionDuration = 100;
                options.HideTransitionDuration = 100;
            });
    }

    [JSInvokable]
    public void InstanceClickHandler(object sender, object args)
    {
        var argsJObj = JObject.FromObject(args);

        var clickedDatasetIndex = (int) argsJObj["datasetIndex"];
        var clickedDatasetName = barChartConfig.Data.Datasets[clickedDatasetIndex].Label;

        Toaster.Info(
            $"'{clickedDatasetName}'",
            "Dataset clicked",
            options =>
            {
                options.VisibleStateDuration = 700;
                options.ShowTransitionDuration = 100;
                options.HideTransitionDuration = 100;
            });
    }

    protected override void OnAfterRender()
    {
        Console.WriteLine("OnAfterRender - bar");
        barChart.Reload();

        _dataSetDisplay.OnUpdatedDataSetsStr += (dataSetsStr) =>
        {
            barChartConfig.Data.Datasets = JsonConvert.DeserializeObject<List<BaseBarChartDataset>>(dataSetsStr);
            barChart.Reload();
        };
    }

    private void UpdateChart()
    {
    //Update existing dataset
        barChartConfig.Data.Labels.Add($"{DateTime.Now.Second}");
        barChartConfig.Data.Datasets.ForEach(dataset => { dataset.Data.Add(DateTime.Now.Second); });

        barChart.Reload();
    }

}