@using ChartJs.Blazor.ChartJS.BubbleChart
@inherits ChartJs.Blazor.Charts.ChartBase<BubbleChartConfig>

<div class="row">
    <div class="container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>