@using ChartJs.Blazor.ChartJS.MixedChart
@typeparam TData
@inherits ChartJs.Blazor.Charts.ChartBase<MixedConfig<TData>>

<div class="row">
    <div class="chart-container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>