@using ChartJs.Blazor.ChartJS
@using Microsoft.AspNetCore.Blazor.Components

<div class="row">
    <div class="container">
        <canvas id="@Chart.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>

@functions {

    [Parameter]
    ChartJSChart Chart { get; set; }

    [Parameter]
    int Width { get; set; } = 400;

    [Parameter]
    int Height { get; set; } = 400;

    protected override void OnAfterRender()
    {
        ChartJsInterop.InitializeDoughnutChart(Chart);
    }

    void DisplayChart()
    {
        ChartJsInterop.InitializeDoughnutChart(Chart);
    }

    public void UpdateChart(ChartJSChart updatedChart)
    {
        ChartJsInterop.UpdateDoughnutChart(updatedChart);
    }

}