<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChartJs.Blazor.Sample.Serverside</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <div class="top-row pl-2">
        <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
            <span class="oi oi-bar-chart" aria-hidden="true"></span> Welcome
        </NavLink>
    </div>

    <div class="list-group flex-column">

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/RadarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Radar Chart
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/linechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Line Chart
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/filllinechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Fill Line Chart
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/SimpleBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Simple Bar Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/StackedBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Stacked Bar Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/HorizontalBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Horizontal Bar Chart
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/Legend/JsHandlers">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> JS Handlers
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/Legend/DotNetStaticHandlers">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> .Net Static Handlers
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/Legend/DotNetInstanceHandlers">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> .Net Instance Handlers
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/bubblechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Bubble Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/PolarAreaChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Polar Area Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/mixedchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Mixed Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/piechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Pie Chart
            </NavLink>
        </a>
        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/doughnutchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Doughnut Chart
            </NavLink>
        </a>

        <a class="nav-item px-2">
            <NavLink class="nav-link" href="/scatterchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Scatter Chart
            </NavLink>
        </a>
    </div>

    <div class="top-row pl-4 navbar navbar-dark">
        <NavLink class="nav-link" href="/about">
            <span class="oi oi-bar-chart" aria-hidden="true"></span> About
        </NavLink>
    </div>
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
