@page "/fetchdata"
@using WebCore.Data
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common.Legends
@using ChartJs.Blazor.ChartJS.LineChart
@inject WeatherForecastService ForecastService

<h2>Line Chart</h2>
@*<div class="row">
        <button class="btn btn-primary" onclick="@UpdateChart">Update Chart </button>
    </div>*@
<ChartJsLineChart @ref="lineChartJs" Config="@lineChartConfig" Width="600" Height="300" />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}

@code {
    LineChartConfig lineChartConfig;
    ChartJsLineChart lineChartJs;

    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        lineChartConfig = new LineChartConfig
        {
            CanvasId = "myFirstLineChart",
            Options = new LineChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Line Chart"
                },
                Legend = new Legend
                {
                    Position = LegendPosition.BOTTOM.ToString(),
                    Labels = new Labels
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = Mode.nearest,
                    Intersect = false
                },
                Scales = new Scales
                {
                    xAxes = new List<Axis>
        {
                    new Axis
                    {
                        ScaleLabel = new ScaleLabel
                        {
                            LabelString = "Zeit"
                        }
                    }
                },
                    yAxes = new List<Axis>
        {
                    new Axis
                    {
                        ScaleLabel = new ScaleLabel
                        {
                            LabelString = "Temperatur"
                        }
                    }
                }
                },
                Hover = new LineChartOptionsHover
                {
                    Intersect = true,
                    Mode = Mode.nearest
                }
            },
            Data = new LineChartData
            {
                Labels = new List<string>(),
                Datasets = new List<LineChartDataset>
    {
                new LineChartDataset
                {
                    BackgroundColor = "#ff6384",
                    BorderColor = "#ff6384",
                    Label = "Temperatur in C°",
                    Data = new List<object>(),
                    Fill = false,
                    BorderWidth = 2,
                    PointRadius = 3,
                    PointBorderWidth = 1
                }
            }
            }
        };

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);

        lineChartConfig.Data.Labels.AddRange(forecasts.Select(p => p.Date.ToShortDateString()));
        lineChartConfig.Data.Datasets[0].Data.AddRange(forecasts.Select(p => (object)p.TemperatureC));
    }

    protected override void OnAfterRender()
    {
        lineChartJs.Update();

        base.OnAfterRender();
    }
}
