@page "/fetchdata"
@using WebCore.Data
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.Common.Legends
@using ChartJs.Blazor.ChartJS.LineChart
@inject WeatherForecastService ForecastService

<h2>Line Chart</h2>
<ChartJsLineChart TData="int" @ref="lineChartJs" Config="@lineChartConfig" Width="600" Height="300" />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}

@functions
{
    LineChartConfig<int> lineChartConfig;
    ChartJsLineChart<int> lineChartJs;

    WeatherForecast[] forecasts;

    protected override async Task OnInitAsync()
    {
        lineChartConfig = new LineChartConfig<int>
        {
            CanvasId = "myFirstLineChart",
            Options = new LineChartOptions
            {
                Text = "Sample chart from Blazor",
                Display = true,
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Line Chart"
                },
                Legend = new Legend
                {
                    Position = Positions.Right,
                    Labels = new Labels
                    {
                        UsePointStyle = true
                    }
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = false
                },
                Scales = new Scales
                {
                    xAxes = new List<Axis>
                {
                        new Axis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Zeit"
                            }
                        }
                    },
                    yAxes = new List<Axis>
                {
                        new Axis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Temperatur"
                            }
                        }
                    }
                },
                Hover = new LineChartOptionsHover
                {
                    Intersect = true,
                    Mode = InteractionMode.Nearest
                }
            },
            Data = new LineChartData<int>
            {
                Labels = new List<string>(),
                Datasets = new List<LineChartDataset<int>>
            {
                    new LineChartDataset<int>
                    {
                        BackgroundColor = "#ff6384",
                        BorderColor = "#ff6384",
                        Label = "Temperatur in C°",
                        Data = new List<int>(),
                        Fill = false,
                        BorderWidth = 2,
                        PointRadius = 3,
                        PointBorderWidth = 1,
                        SteppedLine = SteppedLine.TEST
                    }
                }
            }
        };

        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);

        lineChartConfig.Data.Labels.AddRange(forecasts.Select(p => p.Date.ToShortDateString()));
        lineChartConfig.Data.Datasets[0].Data.AddRange(forecasts.Select(p => p.TemperatureC));
    }
}
