@page "/PieExample"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.Common.Properties

<h1>Pie Chart</h1>

<ChartJsPieChart @ref="pieChartJs" Config="@config" Width="600" Height="300" />

@code {
    private PieChartConfig config;
    private ChartJsPieChart pieChartJs;

    protected override void OnInit()
    {
        config = new PieChartConfig
        {
            CanvasId = "myFirstPieChart",
            Options = new PieChartOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Sample chart from Blazor"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        config.Data.Labels.AddRange(new[] { "A", "B", "C", "D" });

        var pieSet = new PieChartDataset();

        pieSet.BackgroundColor.AddRange(new List<string> { "#ff6384", "#55ee84", "#4463ff", "#efefef" });
        pieSet.BorderWidth.Add(0);
        pieSet.HoverBackgroundColor.AddRange(new List<string> { "#f06384" });
        pieSet.HoverBorderColor.AddRange(new List<string> { "#f06384" });
        pieSet.HoverBorderWidth.Add(1);
        pieSet.BorderColor.AddRange(new List<string> { "#ffffff", "#ffffff", "#ffffff", "#ffffff" });

        pieSet.Data.AddRange(new List<double> { 4, 5, 6, 7 });
        config.Data.Datasets.Add(pieSet);
    }
}
