<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">Blazor ChartJS</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/RadarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Radar Chart
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <div class="px-4" style="color: azure; margin-top: 20px">Line Charts</div>
            <ul class="nav flex-column">

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/linechart">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Line Chart
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/filllinechart">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Fill Line Chart
                    </NavLink>
                </li>
            </ul>
        </li>

        <li class="nav-item px-3">
            <div class="px-4" style="color: azure; margin-top: 20px">Bar Charts</div>
            <ul class="nav flex-column">

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match=NavLinkMatch.All>
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Simple Bar Chart
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/StackedBarChart">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Stacked Bar Chart
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/HorizontalBarChart">
                        <span class="oi oi-bar-chart" aria-hidden="true"></span> Horizontal Bar Chart
                    </NavLink>
                </li>

            </ul>

        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/bubblechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Bubble Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/PolarAreaChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Polar Area Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/mixedchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Mixed Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/piechart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Pie Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/doughnutchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Doughnut Chart
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/scatterchart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Scatter Chart
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}