@using ChartJs.Blazor.ChartJS.RadarChart
@inherits ChartJs.Blazor.Charts.ChartBase<RadarConfig>

<div class="row">
    <div class="chart-container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>