@using ChartJs.Blazor.ChartJS.FinancialChart
@inherits ChartJs.Blazor.Charts.ChartBase<FinancialConfig>

<div class="row">
    <div class="chart-container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>