@using ChartJs.Blazor.ChartJS.PieChart
@inherits ChartJs.Blazor.Charts.ChartBase<PieConfig>

<div class="row">
    <div class="chart-container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>