@using ChartJs.Blazor.ChartJS
@using ChartJs.Blazor.ChartJS.BubbleChart
<div class="row">
    <div class="container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>

@functions {

    [Parameter]
    BubbleChartConfig Config { get; set; }

    [Parameter]
    int Width { get; set; } = 400;

    [Parameter]
    int Height { get; set; } = 400;

    protected override void OnAfterRender()
    {
        ChartJsInterop.InitializeBubbleChart(Config);
    }

    public void UpdateChart(BubbleChartConfig updatedChart)
    {
        ChartJsInterop.UpdateBubbleChart(updatedChart);
    }

}