@using ChartJs.Blazor.ChartJS.LineChart
@inherits ChartJs.Blazor.Charts.ChartBase<LineChartConfig>

<div class="row">
    <div class="container">
        <canvas id="@Config.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>