@using Newtonsoft.Json

<div class="form-group">
    <label for="textAreaId">Chart Dataset</label>
    <textarea id="textAreaId"
              class="form-control"
              Width="@Width"
              Height="@Height"
              Rows="@Rows"
              style="display: block; margin-left: auto; margin-right: auto">@DatasetsStr</textarea>
</div>


@functions {

    [Parameter]
    int Width { get; set; } = 600;

    [Parameter]
    int Height { get; set; } = 600;

    [Parameter]
    int Cols { get; set; } = 0;

    [Parameter]
    int Rows { get; set; } = 25;

    [Parameter]
    object DataSets { get; set; }

    string DatasetsStr => DataSets != null ? JsonConvert.SerializeObject(DataSets, Formatting.Indented,
        new JsonSerializerSettings()
        {
            NullValueHandling = NullValueHandling.Ignore
        }) : "No data";

}