<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChartJs.Blazor Samples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="welcome">
                <span class="oi oi-home" aria-hidden="true"></span>Welcome
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SimpleBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Simple BarChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HorizontalBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Horizontal BarChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StackedBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Stacked BarChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TimeBarChart">
                <span class="oi oi-bar-chart" aria-hidden="true"></span>Time BarChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LinearLineChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Linear LineChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LogarithmicLineChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Logarithmic LineChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TimeLineChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Time LineChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DoughnutChart">
                <span class="oi oi-graph" aria-hidden="true"></span>DoughChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PieChart">
                <span class="oi oi-pie-chart" aria-hidden="true"></span>PieChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PolarAreaChart">
                <span class="oi oi-graph" aria-hidden="true"></span>PolarAreaChart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BubbleChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Bubble Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ScatterChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Scatter Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RadarChart">
                <span class="oi oi-graph" aria-hidden="true"></span>Radar Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span>About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}