<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebCore</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SimpleLineLinearExample">
                <span class="oi oi-graph" aria-hidden="true"></span> Simple Line Linear
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LineLinearExample">
                <span class="oi oi-graph" aria-hidden="true"></span> Line Linear
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LineLogarithmicExample">
                <span class="oi oi-graph" aria-hidden="true"></span> Line Logarithmic
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="LineTimeExample">
                <span class="oi oi-graph" aria-hidden="true"></span> Line Time
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PieExample">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Pie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DoughnutExample">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Doughnut (from Pie)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PolarAreaExample">
                <span class="oi oi-graph" aria-hidden="true"></span> Polar Area
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
